@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

.about-me {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 50px;
}

.photo-name {
  animation: slideInImg 1s ease-in-out;
}

@keyframes slideInImg {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.photo-name img {
  position: relative;
  border-radius: 50%;
  width: 400px;
  box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
}

.name-job {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  text-align: left;
  white-space: nowrap;
}

.name-job h1 {
  font-family: Montserrat, sans-serif;
  font-size: 5em;
  margin-bottom: 15px;
}

.name-job h2 {
  font-family: Antonio, sans-serif;
  font-size: 3em;
  margin-bottom: 20px;
}

.animated-text {
  align-self: unsafe;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.about-me .description {
  display: flex;
  width: 55vw;
  justify-self: end;
  flex-direction: column;
  justify-content: center;
}

.about-me .description > p {
  font-size: 1.2em;
  line-height: 1.5;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.cv {
  color: #e3e3e3;
  padding: 5px 10px;
  border: 1px solid #3a3d3f;
  border-radius: 7px;
  align-self: center;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.75);
  transition: all 200ms ease-in-out;
}

.cv:hover {
  background-color: #3a3d3f;
}

.cv:active {
  box-shadow: none;
  background-color: #242627;
}

.external-links {
  display: flex;
  gap: 20px;
}

.external-links img {
  display: block;
  width: 30px;
  transition: 0.2s ease-in-out;
}

.external-links img:hover {
  position: relative;
  z-index: 2;
  transform: scale(1.15);
}
