.about-me {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 50px;
}

.photo-name {
}

.photo-name img {
  position: relative;
  border-radius: 50%;
  width: 400px;
}

.name-job {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  text-align: left;
  white-space: nowrap;
}

.name-job h1 {
  font-size: 5em;
  margin-bottom: 15px;
  animation: texth1 1.5s steps(35, end) backwards;
}

/* Animación escritura Nombre */
@keyframes texth1 {
  0% {
    width: 0;
    border-right: 0.15em solid rgb(255, 255, 255);
  }
  99% {
    width: 99%;
    border-right: 0.15em solid rgb(255, 255, 255);
  }

  100% {
    width: 100%;
    border-right: 0.15em solid rgba(255, 255, 255, 0);
  }
}

.name-job h2 {
  font-size: 3em;
  margin-bottom: 20px;
  animation: texth2 2s steps(35, end) 1s backwards;
}

/* Animación escritura Puesto */
@keyframes texth2 {
  0% {
    width: 0;
    border-right: 0.15em solid rgb(255, 255, 255);
  }

  64% {
    width: 64%;
    border-right: 0.15em solid rgb(255, 255, 255);
  }

  65% {
    width: 65%;
    border-right: 0.15em solid rgba(255, 255, 255, 0);
  }
}

.animated-text {
  align-self: unsafe;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.about-me .description {
  display: flex;
  width: 55vw;
  justify-self: end;
  flex-direction: column;
  justify-content: center;
}

.about-me .description > p {
  font-size: 1.2em;
  line-height: 1.5;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.cv {
  color: #e3e3e3;
  padding: 5px 10px;
  border: 1px solid #3a3d3f;
  border-radius: 7px;
  align-self: center;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.75);
  transition: all 200ms ease-in-out;
}

.cv:hover {
  background-color: #3a3d3f;
}

.cv:active {
  box-shadow: none;
  background-color: #242627;
}

.external-links {
  display: flex;
  gap: 20px;
}

.external-links img {
  display: block;
  width: 30px;
  transition: 0.2s ease-in-out;
}

.external-links img:hover {
  position: relative;
  z-index: 2;
  transform: scale(1.15);
}
