.loading-screen {
  display: flex;
  height: 100vh;
  margin: auto;
}

.loading-screen > img {
  margin: auto;
  max-width: 5%;
}

.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* Media query para tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Media query para pantallas móviles */
}

@media only screen and (max-width: 767px) {
}
