.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.project-list > h2 {
  margin: 0;
  font-size: 3em;
  padding-top: 40px;
  padding-bottom: 40px;
}

.project-list ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 2%;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}

.project-list ul::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Opera */
}

.project-list li {
  list-style-type: none;
  margin-bottom: 30px;
  flex: 1;
  min-width: 0; /* Permite que los elementos flex se reduzcan más allá de su contenido */
  max-width: 400px; /* O el ancho máximo que prefieras para cada proyecto */
}

.project-list > div {
  display: flex;
  flex-direction: column;
}

.all-projects {
  font-size: 1.3em;
  color: #e3e3e3;
  background-color: #242424;
  padding: 15px 30px;
  border: 1px solid #3a3d3f;
  border-radius: 7px;
  align-self: center;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.75);
  transition: all 200ms ease-in-out;
}

.all-projects:hover {
  background-color: #3a3d3f;
}

.all-projects:active {
  box-shadow: none;
  background-color: #1e1f20;
}

/* Media query para pantallas 2K (2560x1440) */
@media only screen and (min-width: 2560px) {
  .project-list ul {
    margin-top: 70px;
    margin-bottom: 100px;
  }
}

/* Media query para tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .project-list h2 {
    display: none;
  }
  .project-list ul {
    display: none;
  }

  .project-list > div {
    display: flex;
    position: absolute;
    right: 15.5vw;
    top: 550px;
    width: calc(45vw - 50%);
  }

  .all-projects {
    position: absolute;
    font-size: 1.8em;
    left: -120px;
    width: 170px;
    padding: 15px 30px;
  }
}

/* Media query para pantallas móviles */
@media only screen and (max-width: 767px) {
  .project-list h2 {
    display: none;
  }
  .project-list ul {
    display: none;
  }

  .project-list > div {
    display: flex;
    position: absolute;
    top: 440px;
    right: -1vw;
    width: calc(80vw - 50%);
  }

  .all-projects {
    width: 60px;
    position: absolute;
    padding: 8px 15px;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
  }
}
