.project {
  background-color: #313131;
  border-radius: 25px;
  list-style-type: none;
  width: 350px;
  height: 550px;
  margin: 0;
  box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
  transition: all 500ms ease-in-out;
}

.project:hover {
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.8);
  transform: scale(1.03);
}

.project-content {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  height: 100%;
}

.project-content > a {
  margin: 0 -30px;
  height: 30%;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.75);
}

.project-content > a > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.description {
  height: 65%;
  justify-content: flex-start;
  margin: 20px 0;
  font-size: 1.08em;
  line-height: 1.2;
}

.description h3 {
  margin: 0;
}

.description > p {
  text-align: justify;
  margin-bottom: 0;
}

.buttons {
  position: relative;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
}

.buttons a {
  align-self: center;
}

.buttons > a > img {
  fill: #fff !important;
  width: 2em;
  height: 2em;
  transition: 0.2s ease-in-out;
}

.buttons > a > img:hover {
  position: relative;
  z-index: 2;
  transform: scale(1.15);
}

.project-stack {
  display: flex;
  gap: 25px;
  justify-content: center;
  height: 20%;
}

.project-stack img {
  height: 2em;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/* Media query para pantallas 2K (2560x1440) */
@media only screen and (min-width: 2560px) {
  .project {
    width: 420px;
    height: 650px;
  }

  .description h3 {
    font-size: 1.5em;
  }

  .description > p {
    font-size: 1.2em;
  }

  .buttons > a > img {
    width: 2.5em;
    height: 2.5em;
  }

  .project-stack {
    gap: 30px;
  }

  .project-stack img {
    height: 2.5em;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  }
}

/* Media query para tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .project {
    width: 600px;
    height: 1000px;
  }

  .description h3 {
    font-size: 2.5em;
  }

  .description {
    margin-bottom: 0;
  }

  .description > p {
    font-size: 2em;
  }

  .buttons > a > img {
    width:4.5em;
    height:4.5em;
  }

  .buttons > a > img:hover {
    position: initial;
    transform: none;
  }

  .project-stack {
    gap: 50px;
  }

  .project-stack img {
    height: 4em;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  }
}
