.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
}

.techs {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.technology {
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  height: 100%;
}

.technology > a > img {
  height: 60%;
  max-width: 85%;
  fill: white;
  align-self: center;
  transition: 0.5s;
}

.technology > a > img:hover {
  position: relative;
  z-index: 2;
  transform: scale(1.3);
}
